---
import Layout from '../layouts/EventPost.astro';
---

<Layout
	title="Activities "
	description=""
>
	<ul>
		<li>Secure funding sources to re-equip laboratories which are often operated in local isolation and lacking critical mass, weakens Switzerland’s capacity to compete at the international level.</li>
		<li>Negotiate better deals for soft- and hardware purchases through coordination.</li>
		<li>Standardize SNFS-compatible user fees.</li>
		<li>Develop common standards and procedures for analytical QC in order to identify technical issues on instruments and improving negotiation standpoints with hardware providers.</li>
		<li>Coordinate service portfolios in order to reduce redundancies, exploit each site’s expertise (and the outsourcing options, thus managing risks and optimizing costs).</li>
		<li>Formulate common user strategies and access policies, ensuring inclusivity and wide accessibility.</li>
		<li>Promote the regular exchange of ideas, protocols and know-how. Support efforts for cross-platform validation of methods.</li>
		<li>Advocate for the inclusion of proteomics as a key pillar in national life sciences funding initiatives and roadmaps.</li>
		<li>Apply for collaborative grants involving (the core facilities from) several Swiss institutions, to enable large-scale projects and secure larger-scale funding.</li>
		<li>Coordinate and federate training activities and outreach programs to engage the scientific community and the general public.</li>
		<li>Coordinate the scouting and testing of new technologies, including non-MS based and single-molecules approaches, and share results.</li>
		<li>Promote FAIR Data Management.</li>
		<li>Work together to increase visibility and accessibility of proteomics in Switzerland.</li>
	</ul>
</Layout>
