---
import Layout from '../layouts/EventPost.astro';
---

<Layout
	title="Activities "
	description=""
	pubDate={new Date()}
>
	<ul>
		<li>Develop common standards and procedures for analytical QC in order to
		identify technical issues on instruments and improve negotiation
			standpoints with hardware providers.</li>

		<li>Promote the regular exchange of ideas, protocols and know-how. Support
			efforts for cross-platform validation of methods.</li>

		<li>Coordinate the scouting and testing of new technologies, including
		non-MS based and single-molecules approaches, and share results.</li>

		<li>Negotiate better deals for soft- and hardware purchases through
		coordination.</li>

		<li>Coordinate service portfolios in order to reduce redundancies and
		exploit each site’s expertise.</li>

		<li>Work towards homogenization of SNFS-compatible user fees.</li>

		<li>Formulate common user strategies and access policies, ensuring
		inclusivity and wide accessibility.</li>

		<li>Promote FAIR Data Management.</li>

		<li>Apply for collaborative grants involving (the core facilities from)
		several Swiss institutions, to enable large-scale projects and secure
		larger-scale funding.</li>

		<li>Coordinate and federate training activities and outreach programs to
		engage the scientific community and the general public.</li>

		<li>Advocate for the inclusion of proteomics as a key pillar in national
		life sciences funding initiatives and roadmaps.</li>

		<li>Work together to increase visibility and accessibility of proteomics in
		Switzerland.</li>

	</ul>
</Layout>
