---
import Layout from '../layouts/EventPost.astro';
---

<Layout
	title="Events  "
	description=""
>
	<p>
		<a href="https://meetings.ls2.ch/proteomics-2025" target=”_blank”><h4>Swiss Proteomics Meeting 2025</h4></a>
		<h5>Unterägeri, Thursday 15 May 2025 – Friday 16 May 2025</h5>
	</p>

</Layout>
