---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
//import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h4>Swiss Proteomics Core Facility NETwork (SwissPCF-NET)</h4>
			<p>
				SwissPCF-Net federates the academic core facilities that provide proteomics and protein analysis services in Switzerland.
			</p>
			<br/>
			<h5>Vision</h5>
			<p>
				We aim to build a strong and flexible network of cores, that is able to respond in a coordinated manner to the numerous needs and challenges posed by the evolution of the Swiss research landscape. In doing so, we aim to support science and improve Switzerland’s capacity to compete at the international level.
			</p>
		</main>
		<!--<Footer />-->
	</body>
</html>
