---
import Layout from '../layouts/EventPost.astro';
---

<Layout
	title="List of participating core facilities"
>
	<p>
		Functional Genomics Centre Zürich (ETHZ, UZH)
		<br>
		<a href="mailto:paolo.nanni@fgcz.uzh.ch">Paolo Nanni</a>
	</p>

	<p>
		Proteomics Core Facility Uni Basel
		<br>
		<a href="mailto:alex.schmidt@unibas.ch">Alexander Schmidt</a>
	</p>

	<p>
		Core Facility Proteomics & Mass Spectrometry Uni Bern
		<br>
		<a href="mailto:manfred.heller@unibe.ch">Manfred Heller</a>
	</p>

	<p>
		Metabolomics and Proteomics Platform Uni Fribourg
		<br>
		<a href="mailto:joern.dengjel@unifr.ch">Jörn Dengjel</a>
	</p>

	<p>
		Proteomics Core Facility EPFL
		<br>
		<a href="mailto:maria.pavlou@epfl.ch">Maria Pavlou</a>
	</p>

	<p>
		Protein Analysis Facility Uni Lausanne
		<br>
		<a href="mailto:manfredo.quadroni@unil.ch">Manfredo Quadroni</a>
	</p>

	<p>
		ChemBioMS Proteomics Facility Uni Geneva
		<br>
		<a href="mailto:Yibo.Wu@unige.ch">Yibo Wu</a>
	</p>

	<p>
		Proteomics Core Facility Uni Geneva Faculty of Medicine
		<br>
		<a href="mailto:Alexandre.Hainard@unige.ch">Alexandre Hainard</a>
	</p>

</Layout>
