---
import Layout from '../layouts/EventPost.astro';
---

<Layout
	title="List of participating core facilities"
>
	<p>
		<h5>Functional Genomics Centre Zürich (ETHZ, UZH)</h5>
		<a href="mailto:paolo.nanni@fgcz.uzh.ch">Paolo Nanni</a>
	</p>

	<p>
		<h5>Proteomics Core Facility Uni Basel</h5>
		<a href="mailto:alex.schmidt@unibas.ch">Alexander Schmidt</a>
	</p>

	<p>
		<h5>Core Facility Proteomics & Mass Spectrometry Uni Bern</h5>
		<a href="mailto:manfred.heller@unibe.ch">Manfred Heller</a>
	</p>

	<p>
		<h5>Metabolomics and Proteomics Platform Uni Fribourg</h5>
		<a href="mailto:joern.dengjel@unifr.ch">Jörn Dengjel</a>
	</p>

	<p>
		<h5>Proteomics Core Facility EPFL</h5>
		<a href="mailto:maria.pavlou@epfl.ch">Maria Pavlou</a>
	</p>

	<p>
		<h5>Protein Analysis Facility Uni Lausanne</h5>
		<a href="mailto:manfredo.quadroni@unil.ch">Manfredo Quadroni</a>
	</p>

	<p>
		<h5>Protein Analysis Facility Uni Lausanne</h5>
		<a href="mailto:manfredo.quadroni@unil.ch">Manfredo Quadroni</a>
	</p>

	<p>
		<h5>ChemBioMS Proteomics Facility Uni Geneva</h5>
		<a href="mailto:Yibo.Wu@unige.ch">Yibo Wu</a>
	</p>

	<p>
		<h5>Proteomics Core Facility Uni Geneva Faculty of Medicine</h5>
		<a href="mailto:Alexandre.Hainard@unige.ch">Alexandre Hainard</a>
	</p>

</Layout>
