---
import Layout from '../layouts/EventPost.astro';
---

<Layout
	title="Objectives "
	description=""
	pubDate={new Date()}
>
	<ul>
		<li>Establish a <strong>network of Swiss proteomics core facilities</strong>, fully integrated into the national research landscape, that facilitates the response to grand scientific challenges.</li>
		<li>Function as <strong>unified point of contact</strong> vis-à-vis funding agencies, institutions, equipment providers and the life science community in general.</li>
		<li><strong>Coordinate technological developments</strong> and the offer of services, to ensure that the research community has access to cutting-edge methods in proteomics.</li>
		<li>Foster cooperation and <strong>knowledge exchange</strong> across cores, research centers and institutions.</li>
		<li>Accelerate <strong>technology and methods development</strong> in proteomics and stimulate academia-industry collaborations.</li>
	</ul>
</Layout>
