---
import Layout from '../layouts/EventPost.astro';
---

<Layout
	title="Objectives "
	description=""
	pubDate={new Date()}
>
	<ul>
		<li>Establish a network of Swiss proteomics core facilities, fully integrated into the national research landscape, that facilitates the response to grand scientific challenges.</li>
		<li>Function as unified point of contact vis-à-vis funding agencies, institutions, equipment providers and the life science community in general.</li>
		<li>Coordinate technological developments and the offer of services, to ensure that the research community has access to cutting-edge methods in proteomics.</li>
		<li>Foster cooperation and knowledge exchange across cores, research centers and institutions.</li>
		<li>Accelerate technology and methods development in proteomics and stimulate academia-industry collaborations.</li>
	</ul>
</Layout>
